@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
  color: hsl(212, 21%, 14%);

  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;
}

body{ 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: hsl(30, 38%, 92%);
}

body, p, h1, h2{
  padding: 0;
  margin: 0;
}

.product-card-container{
  display: flex;
  flex-direction: row;

  width: 42rem;
  height: 31rem;

  border-radius: 1rem;

  overflow: hidden;
}

.product-img-left, .product-information-right{
  width: 50%;
  height: 100%;
}

.product-img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-information-right{
  background-color: white;
  
  padding-left: 2rem;
  padding-top: 1rem;
}

h1{
  color: hsl(228, 12%, 48%);

  margin: 1rem 0rem;
}

h2{
  font-weight: 700;
  font-size: 2.4rem;
  font-family: Fraunces;

  line-height: 90%;
}

.product-description{
  color: hsl(228, 12%, 48%);
  line-height: 170%;

  padding: 1.4rem 0rem;
}

.product-price{
  display: flex;
  flex-direction: row;

  align-items: center;
}

.current-price{
  color: hsl(158, 36%, 37%);

  font-family: Fraunces;
  font-size: 2.4rem;
  font-weight: 700;

  margin-right: 1rem;
}

.previous-price{
  color: hsl(228, 12%, 48%);

  text-decoration: line-through;
}

.cart-button{
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color:hsl(158, 36%, 37%);
  border-radius: .6rem;

  padding: 1.3rem .8rem;
  margin-top: 1.4rem;

  cursor: pointer;
  transition: all ease .15s;
}

.cart-button:hover{
  background-color: hsl(161, 69%, 11%);
}

.cart-text{
  color: white;
  
  font-family: Montserrat;
  font-weight: 600;

  margin-left: 1rem;
}

.cart-img{
  width: 1.1rem;
}

/* MEDIA QUERY */

@media (max-width: 375px){

.product-card-container{
  display: flex;
  flex-direction: column;

  width: 25.5rem;
  height: 45rem;
  
  }

  .product-img-left{
    width: 100%;
    height: 38%;
  }

  .product-information-right{
    width: 100%;
    height: 60%;
  }
  
  .product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-information-right{
    background-color: white;
    
    padding-left: 2rem;
    padding-top: 1rem;
  }
  
  h1 br, h2 br, p br{
    display: none;
  }

  h1{
    margin: .6rem 0rem;
  }

  .product-description {
    padding-right: 4.5rem;
    font-size: 1rem;
  }
}
